*{
    margin:0;
    padding: 0;
}
header{
    width: 985px;
    height: 250px;
    background: url(../Imag/fondo.png) center;
}

body{
    background: #4f4a4a;
}
#contenedor {
    width: 1000px;
    height: 1550px;
    background: rgb(212, 0, 255);
    margin:auto;
    margin-top: 10px;
    border: 8px solid white;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 8px 10px rgba(0,0,0,.5);
}


#banner{
    width: 600px;
    height: 200px;
    background: blue;
    float: right;
}
nav,footer{
    width: 985px;
    height: 100px;
    background: #f56;
    color: rgb(16, 16, 16);
}
main{
    width: 900px;
    height: 900px;
    background: rgb(118, 13, 180);
}
article{
    width: 400px;
    height: 300px;
    background: #0ff;
    float:left;
}
aside{
    width: 900px;
    height: 300px;
    background: #f0f;
    float: left;
}
/* comienzo de la Personalizacion de los botones */
* {
    margin= 0;
    padding= 0;
}
body{
    background: rgb(110, 110, 104);

}
#botones{
    background: #f56;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    height: 25px;
    padding: 40px;
    border: 5px, double, #000 ;
    text-align: center;

}
#botones a {
    width: 250px;
    background: rgb(152, 15, 165);
    padding: 5px 20px;
    text-decoration: none;
    font-family: Arial;
    color: #000 ;
    margin-top: 15px;
    border: 2px Solid #000;
    border-radius: 10px;
}
#botones a:hover{
    background: ;
    border: 2px solid #fff;
    color: #fff;
    width: 600px;
}
/* fin de la Personalizacion de los botones */
.ico{
    width: 30px;
    height: 30px;
    position: relative;
    left: 550px;
    margin-right: 5px;
    margin-bottom: 45px;   
}
.ico:hover{
    box-shadow: 5px 8px 12px rgb(0, 255, 251);
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: end;
    margin-right: 50px;
    margin-top: 10px;
    font-weight: bold;
}
#contenedor2{
    width: 900px ;
    height: 900px;
    background: #ff0;
    margin: auto;
    margin-top: 20px;
}
    article{
        width: 80%;
        height: 1px;
        background: #fff;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }
    article h2,article p{
        margin: 100px;
    }
    aside{
        width: 20%;
        height: 900px;
        background: #959292;
        float: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
    }
    aside ul{
        list-style: none;
    
    }
    aside ul li{
        padding: 20px;
    }
    aside ul li a{
        text-decoration: none;
        color:rgb(196, 38, 140)102, 0, 70;
    }
    aside ul li a:hover{
        color:rgb(255, 0, 179);
    }
    aside h2{
        padding-top: 10px;
        font-size: 15px;
    }