*{
    margin:0;
    padding: 0;
    }
header{
    width: 975px;
    height: 250px;
    background: url(../Imag/fondo.png) center;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-left: 10px;

}
body{
    background: rgb(110, 110, 104);

}
#productos{
    text-size-adjust: center;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    list-style: none;
}
h2{
    font-size: 40px;
    font-weight: 50 solid purple;
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    text-shadow: #000;
}
#contenedor2{
    text-align: center;
    text-decoration: none;
}
footer p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #000;
    text-align: end;
    margin-right: 50px;
    margin-top: 20px;
    font-weight: bold;
}

#contenedor {
    width: 1000px;
    height: 1550px;
    /*background: rgb(212, 0, 255);*/
    margin:auto;
    margin-top: 10px;
    border: 8px solid white;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 8px 10px rgba(0,0,0,.5);
    background: url(../Imag/fondovertodo.png) center;
}
/* comienzo de la Personalizacion de los botones */
#botones{
    background: #f56;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    height: 25px;
    padding: 40px;
    border: 5px, double, #000 ;
    text-align: center;

}
#botones a {
    width: 250px;
    background: rgb(152, 15, 165);
    padding: 5px 20px;
    text-decoration: none;
    font-family: Arial;
    color: #000 ;
    margin-top: 15px;
    border: 2px Solid #000;
    border-radius: 10px;
}
#botones a:hover{
    background: purple;
    border: 2px solid #fff;
    color: #fff;
    width: 600px;
}
/* fin de la Personalizacion de los botones */
.producto_foto{
    text-align: center ;
    margin: 20px;
    float: left;
    /*border: 1px solid #000;*/
}
.producto{
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 1px solid #000;
    box-shadow: 0 2px 2px 5px rgba (0,0,0,0.2);
}
.producto:hover{
    background: rgba,(255,255,0,0.5);
    box-shadow: 0 2px 2px 5px rgba (66,33,0,0.5);
}
.ico{
    width: 30px;
    height: 30px;
    position: relative;
    left: 550px;
    margin-right: 5px;
    margin-bottom: 45px;   
}
.ico:hover{
    box-shadow: 5px 8px 12px rgb(0, 255, 251);
}